.header-top {
    background-color: rgba(5, 2, 76, 0.65);
    border-color: transparent;
}

.header-name {
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    color: white;
}

.header-text {
    font-size: 20px;
    color: white;
}

header {
    background: url("/resources/photos/space.jpg") no-repeat scroll center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: white;
}
@media (min-width: 768px) {
    header .intro-text {
        padding-top: 200px;
        padding-bottom: 100px;    }

    header .intro-text .intro-lead-in {
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
        float: left;
    }

    header .intro-text .intro-heading {
        font-weight: 500;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px;
        text-align: center;
    }

    header .intro-text .intro-advice {
        font-size: 40px;
        margin-top: 420px;
        margin-left: 140px;
    }
}

.btn-xl {
    color: white;
    background-color: rgba(2, 3, 88, 0.68);
    border-color: white;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
    margin-left: 300px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    color: white;
    background-color: rgba(8, 0, 199, 0.68);
    border-color: white;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    background-color: rgba(8, 0, 199, 0.68);
    border-color: white;
}
.btn-xl .badge {
    color: #fed136;
    background-color: white;
}

.organization-content {
    float: left;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container-left-part-1 {
    width: 20%;
    float: left;
}

div.dropdown.container-left-part-2 {
    position: absolute;
    margin-top: 200px;
    width: 200px;
}

.container-left-part-2 {
}

.container-right-part {
    width: 80%;
    float: left;
}

section#services .section-heading {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 80px;
    padding: 30px;
    background-color: rgb(1, 4, 72);
    color: white;
    text-align: center;
}

.organization-types {
    margin-left: 5%;
    margin-bottom: 50px;
    width: 90%;
    float: left;
}

.organization-types-image {
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;
}

.organization-types-description {
    text-align: justify;
    width: 75%;
    float: left;
    margin: 10px;
    font-size: 16px;
}

.organization-left-part {
    width: 60%;
    float: left;
}

.organization-right-part {
    width: 40%;
    float: left;
    margin-top: 20px;
}

.organization-photo {
    width: 800px;
    height: 600px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.organization-name {
    font-size: 40px;
    font-weight: bold;
}

.organization-description {
    margin-top: 30px;
}

.organization-services {
    width: 100%;
    float: left;
    padding-left: 50px;
}

.booking-form {
    width: 40%;
    margin-left: 30%;
    margin-top: 100px;
    padding: 5%;
    border: 2px solid black;
    text-align: center;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.add-service {
    margin: 50px;
}

.add-service-form {
    display: none;
}

.authorization-form {
    text-align: center;
    margin-top: 250px;
    margin-left: 40%;
    width: 300px;
}

.authorization-title {
    font-size: 26px;
}

.authorization-btn {
    width: 150px;
}

.registration-form {
    margin-top: 200px;
    margin-left: 40%;
    width: 300px;
    text-align: center;
}

.registration-title {
    font-size: 26px;
}

.registration-btn {
    width: 150px;
}

.footer {
    background-color: rgba(5, 2, 76, 0.65);
    color: white;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}
