.container-left-part{
    width: 20%;
    float: left;
}

.container-right-part{
    width: 80%;
    float: left;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}